.mat-toolbar-multiple-rows {
  background-color: var(--success-color);
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar {
  height: 64px;
  position: fixed;
  z-index: 100;
  width: 100%  !important;
  top: 0;
}