<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-2  text-dark">
            <!-- <label >Nationality ID</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required> -->
            <h5>Full Registration</h5>
        </div>
        <div class="col-sm-2  text-dark">
        </div>
        <div class="col-sm-2   text-dark">
        </div>
        <div class="col-sm-1 text-dark">
        </div>
        <div class="col-sm-3 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-2 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div><br>
<div class="navbar">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#portfolio">Portfolio</a>
    <a href="#contact">Contact</a>
</div>
<div>
    <p class="p-3">Patient Info</p>
    <hr>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Title*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                First Name*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Middle Name
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Last Name*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Alias Name</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <label class="p-2">
                Age</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-2 p-3  text-dark">
            <div class="date-wrapper">
                <label class="p-2">DOB</label>

                <i class="fa fa-calendar" ></i>
                <mat-datepicker #picker></mat-datepicker>

                <input type="date" (click)="picker.open()" [matDatepicker]="picker" class="form-control"  />
            </div>
            
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Gender*
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Mobile*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Email</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Marital Status*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Spouse Type
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Spouse Name</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Ethnicity</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Nationality*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Nationality ID
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Passport Number</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Visa Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Visa Number</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Visa Expiry
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Occupation</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Remarks</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">

                Patient Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">

                Blood Group
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Referral Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Referral Name</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Remarks</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">

                Land Line
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Income</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Is VIP</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                VIP Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">


                Is Insurance
            </label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <!-- <label class="p-2">Income</label><br> -->
            <p>Is IVF Register</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
    </div>
</div>
<div>
    <p class="p-3">Address Info</p>
    <hr>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Address</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Address Search</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
        <div class="col-sm-3 p-3 text-dark">
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-6 p-3 text-dark">
        </div>
        <div class="col-sm-1 p-3 text-dark">
        </div>
        <div class="col-sm-2 p-3  text-dark">
            <p><button class="draftbutton" type="submit">Print Preview</button></p>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <p><button class="draftbutton" type="submit">Save</button></p>
        </div>
        <div class="col-sm-2 p-3 text-dark">
            <p><button class="draftbutton" type="submit">Activate</button></p>
        </div>
    </div>
</div>