<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7 p-2 bg-white text-dark">
            <h4>Registration</h4>
        </div>
        <div class="col-sm-5 p-2 bg-white text-dark">
            <div class="row">
                <!-- Actual search box -->
                <div class="form-group has-search col-5">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search Your Membership#...">
                </div>
                <div class="form-group has-search col-5">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Search Name/Phone/UHID">
                </div>
                <div class="col-2">
                    <img class="add-Icon-img" src="../../assets/icons/plus.png">
                </div>
            </div>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <p class="m-0">Patient Info</p>
        <hr>
    </div>
</div>


<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3 form-box">
                <div class="mb-3">
                    <label class="p-2">Title<span style="color:red">*</span></label><br>
                    <div class="select-wrapper">

                    <select class="form-select" id="options" name="options" required>

                        <option value="" disabled selected>Select an option</option>
                        <option value="option1">Option 1</option>
                        <option value="option2">Option 2</option>
                        <option value="option3">Option 3</option>
                    </select>
                    <i class="fa fa-chevron-down select-icon"></i>
                    </div>

                </div>

            </div>
            <!-- <input type="text" name="Title<span style="color:red">*</span>" required> -->
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">First Name<span style="color:red">*</span></label><br>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Last Name<span style="color:red">*</span></label><br>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>

        <div class="col-sm-3  bg-white text-dark">
            <div class="row">
                <div class="col-sm-2 p-3  text-dark">
                    <div class="date-wrapper">
                        <label class="p-2">DOB</label>
        
                        <i class="fa fa-calendar" ></i>
                        <mat-datepicker #picker></mat-datepicker>
        
                        <input type="date" (click)="picker.open()" [matDatepicker]="picker" class="form-control"  />
                    </div>
                    
                </div>
                <div class="col-sm-6  bg-white text-dark">
                    <label class="p-2">Age<span style="color:red">*</span></label><br>
                    <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>
                </div>
            </div>

        </div>


    </div>
</div>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2">Gender<span style="color:red">*</span></label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Mobile<span style="color:red">*</span> </label><br>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Alternate Mobile#</label><br>
            <input type="text" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Email</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>



<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2">Marital Status</label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2">Ethnicity </label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Alternate Email</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Passport Number</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
    </div>
</div>



<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">National Id</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Attender Information </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Nationality<span style="color:red">*</span> </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Address<span style="color:red">*</span></label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
    </div>
</div>



<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Address Search</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Country</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> State </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> District</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">City/Town</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Area</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Pin Code</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2"> Patient Type</label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Covid Vaccine</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2"> Is VIP</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1"> </label>
            </div>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2"> VIP Type</label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <div class="mb-3">
                <label class="p-2"> Occupation</label><br>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
            </div>
        </div>

    </div>
</div>
<div class="accordion mt-2 mb-3" id="accordionPanelsStayOpenExample">

    <div class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
        aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        <p class="">Visit</p>
    </div>
    <hr>

    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
        aria-labelledby="panelsStayOpen-headingOne">

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2">Visit Type<span style="color:red">*</span></label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Department</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Doctor<span style="color:red">*</span></label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Payer</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2">Payer Type<span style="color:red">*</span></label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Source Type<span style="color:red">*</span></label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Referral Name<span style="color:red">*</span></label><br>
                    <span class="span-inlinr-flex">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                        <!-- <div> -->
                        <img class="add-Icon-img margin-left-2px" src="../../assets/icons/plus.png"
                            (click)="openReferralModal('Referral Name')"></span>
                    <!-- </div> -->

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Reason</label><br>
                    <span class="span-inlinr-flex">

                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                        <!-- <div> -->
                        <img class="add-Icon-img margin-left-2px" src="../../assets/icons/plus.png"
                            (click)="openReferralModal('Reason')">
                        <!-- </div> -->
                    </span>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2">Payer Number</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2">MLC</label><br>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1"> </label>
                    </div>
                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2"> Token Num </label><br>
                    <span class="step-token-number">1</span>

                </div>
                <!-- <div class="col-sm-3 p-3 bg-white text-dark">
                <label class="p-2"> Occupation</label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>

            </div> -->

            </div>
        </div>
    </div>
</div>
<div class="accordion" id="accordionPanelsStayOpenExample">

    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        <p class="">Consultation Bill </p>
    </div>
    <hr>

    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse show collapse"
        aria-labelledby="panelsStayOpen-headingTwo">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <div>
                        <label class="p-2">Discount Type</label><br>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                    </div>
                    <div>
                        <label class="p-2">Discount </label><br>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                    </div>
                    <div>
                        <label class="p-2">Remarks</label><br>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                    </div>

                </div>

                <div class="col-sm-3 p-3 bg-white text-dark">
                    <div>
                        <label>Emergency</label><br>

                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1"> </label>
                    </div>

                    <div>
                        <div>
                            <label>No Bill</label><br>

                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1"> </label>
                        </div>
                    </div>


                    <div>
                        <div>
                            <label>Is OPD</label><br>

                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1"> </label>
                        </div>
                    </div>


                </div>



                <div class="col-sm-6 p-3 bg-white text-dark">
                    <table>
                        <thead>
                            <tr>
                                <th>Service code / Name</th>
                                <th>Qty</th>
                                <th>Rate</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ip Consultation -Superspeciality</td>
                                <td>1</td>
                                <td>750</td>
                                <td>750</td>

                            </tr>
                            <tr>
                                <td colspan="3">TOTAL</td>
                                <td>₱750.00</td>
                            </tr>
                            <tr>
                                <td colspan="3">DISCOUNT</td>
                                <td>₱0.00</td>
                            </tr>
                            <tr>
                                <td colspan="3">RECEIVED</td>
                                <td>₱750.00</td>
                            </tr>
                            <tr>
                                <td colspan="3">DUE</td>
                                <td>₱0.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <label class="p-2">Payment Type</label><br>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                        required>

                    <div>
                        <label class="p-2"> Receipt Amount</label><br>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                            required>
                    </div>
                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                </div>
                <div class="col-sm-3 p-3 bg-white text-dark">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <th>Net Amount</th>
                                <th>₹100.00</th>
                            </tr>
                            <tr>
                                <td>Paid Amount</td>
                                <td>₹100.00</td>

                            </tr>
                            <tr>
                                <td>Refund</td>
                                <td>₹0.00
                                </td>

                            </tr>
                        </tbody>
                        <!-- <caption>DETAILS</caption> -->


                    </table>

                </div>
            </div>
        </div>
        <hr>
    </div>
</div>
<div class="accordion mb-5" id="accordionPanelsStayOpenExample">

    <div class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
        aria-controls="panelsStayOpen-collapseThree">
        <p class="">Promotion Scheme</p>

    </div>
    <hr>
    <div class="container-fluid mt-3" id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingThree">
        <div class="row">
            <div class="col-sm-3  bg-white text-dark">
                <label class="p-2">Membership Number</label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required>
            </div>
            <div class="col-sm-3  bg-white text-dark">
                <label class="p-2">Type </label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required>
            </div>
            <div class="col-sm-3  bg-white text-dark">
                <label class="p-2">Alternate Mobile#</label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required>
            </div>
            <div class="col-sm-3 bg-white text-dark">
                <label class="p-2">Email</label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required>
            </div>
        </div>
    </div>


</div>



<div class="mt-2">
    <p class="">Upload & Image Preview</p>
    <hr>

</div>


<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3  bg-white text-dark">
            <canvas class="drhms-img-thumbnail" #canv1>
                <img [src]="imageUrl" #imagePreview alt="Default Image">
            </canvas>
            <div>
                <input type="file" accept="image/*" #fileInput class="hidden" (change)="previewImage($event)">
                <button type="button" class="btn btn-outline-primary" (click)="triggerFileInput()">Upload</button>
                <button type="button" class="drhms-webcam-btn margin-left-10px" (click)="captureImage()">Webcam</button>
                <button type="button" class="btn btn-outline-danger margin-left-10px"
                    (click)="removeImage()">Remove</button>
                <video #video width="320" height="240" autoplay style="display:none;"></video>
                <button #snap style="display:none;" (click)="snapImage()">Snap</button>
            </div>
        </div>
        <div class="col-sm-3 p-3 bg-white text-dark">
            <!-- <label class="p-2">Gender<span style="color:red">*</span></label><br>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required> -->
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Registered Date</label><br>
            <!-- <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required> -->
            <p class="p-2">02/07/2025</p>
        </div>
        <div class="col-sm-3  bg-white text-dark">
            <label class="p-2">Registered By</label><br>
            <!-- <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
                    required> -->
        </div>

    </div>
</div>


<div class="container-fluid mt-3">
    <div class="row">

        <div class="text-end">
            <p><button class="draftbutton">Activate</button></p>

        </div>

    </div>
</div>


<script>
    function previewImage(event) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById('imagePreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
    function captureImage() {
        const video = document.getElementById('video');
        const snapButton = document.getElementById('snap');
        video.style.display = 'block';
        snapButton.style.display = 'block';
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
            })
            .catch(function (err) {
                console.log("An error occurred: " + err);
            });
    }
    function snapImage() {
        const video = document.getElementById('video');
        const canvas = document.getElementById('canv1');
        const context = canvas.getContext('2d');
        context.drawImage(video, 0, 0, canvas.width, canvas.height);
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = canvas.toDataURL('image/png');
        video.style.display = 'none';
        document.getElementById('snap').style.display = 'none';
        video.srcObject.getTracks().forEach(track => track.stop());
    }
    function removeImage() {
        const imagePreview = document.getElementById('imagePreview');
        imagePreview.src = '../../assets/icons/default.jpg';
    }
</script>