<div>
    <h2 class="p-2">Simple Registration</h2>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Type</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Title*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">First Name*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Last Name*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-1 p-3 text-dark">
            <label class="p-2">Age</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-2 p-3 text-dark">
            <label class="p-2">DOB*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Gender*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Mobile*</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                Marital Status</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">Nationality ID</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Address Search</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">
                Address</label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">
                VIP Type
            </label><br>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <label class="p-2">MLC</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <label class="p-2">Is VIP</label><br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>
        </div>
    </div>
</div>
<div>
    <p class="p-3">Upload & Image Preview</p>
    <hr>
</div>
<div>
    <p><button type="submit">Upload</button> <button type="submit">Upload</button> <button type="submit">Upload</button>
    </p>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-2 p-3 bg-white text-dark">
        </div>
        <div class="col-sm-2 p-3 bg-white text-dark">
        </div>
        <div class="col-sm-2 p-3 bg-white text-dark">
        </div>
        <div class="col-sm-2 p-3 bg-white text-dark">
        </div>
        <div class="col-sm-2 p-3 bg-white text-dark">
        </div>
        <div class="col-sm-2 p-3 bg-white text-dark">
            <p><button>Activate</button></p>
        </div>
    </div>
</div>