<div class="table-container">
    <!-- <mat-form-field class="filter-box">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)">
    </mat-form-field> -->

    <div class="mat-table-wrapper">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <!-- Dynamic Column Headers -->
            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="sticky-header"> 
                    {{ column }} 
                </th>
                <td mat-cell *matCellDef="let element"> 
                    {{ element[column] }} 
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky-header"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>

    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
