.form-check-input {
    width: 2em;
    height: 2em;
    margin-left: 0;

}
.back-button {
    height: 30px !important;
    border: 1px solid #5C5C5C;
    border-radius: 30px !important;
    background: #fff !important;
    padding: 0px 10px;
    width: auto;
    margin: 0px 3px;
    width: 100px;

}