<div class="container-op-visit">

    <h2 class="title">OP Visit Details</h2>
    <div class="row">
        <div class="col-sm-2">
            <div class="filter-group">
                <label>From Date</label>
                <input class="form-control" type="date">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="filter-group">
                <label>To Date</label>
                <input class="form-control" type="date">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="filter-group">
                <label>Doctor</label>
                <input class="form-control" type="text" placeholder="Search Your Doctor...">
            </div>
        </div>
        <div class="col-sm-2">
            <div class="filter-group">
                <label>Patient Search</label>
                <input class="form-control" type="text" placeholder="Search Name/Phone/UHID...">
            </div>

        </div>
        <div class="col-sm-2">
                <label class="">Department</label>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
        </div>
        <div class="col-sm-2">
                <label class="">Billing Status</label>
                <select class="form-select" id="options" name="options" required>
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Option 1</option>
                    <option value="option2">Option 2</option>
                    <option value="option3">Option 3</option>
                </select>
        </div>

    </div>

<div class="row mt-5">
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>Patient Name</th>
                <th>Age/Sex</th>
                <th>Patient ID</th>
                <th>New/Follow-Up</th>
                <th>Visit Date</th>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>Consultation Status</th>
                <th>Billing Remarks</th>
                <th>Billing Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="12">Showing 0-0 of 0 items</td>
            </tr>
        </tbody>
    </table>
</div>
    

    
</div>