<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <h4>BulkCheckOut</h4>
        </div>
        <div class="col-sm-3 p-3  text-dark">
        </div>
        <div class="col-sm-3 p-3  text-dark">
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-1 p-3 text-dark">
            <label class="p-2">Date</label><br>
        </div>
        <div class="col-sm-3 p-3  text-dark">

            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <label class="p-2">
                To Date
            </label><br>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <label class="p-2">
                Status</label><br>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div>
    <!-- table, table-bordered -->
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>
                </th>
                <th scope="col">Visit Date</th>
                <th scope="col">Patient Name</th>
                <th scope="col">CheckedOut Date</th>
                <th scope="col">Doctor</th>
                <th scope="col">Department</th>
                <th scope="col">Status</th>
                <th scope="col">Visit No</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </div>
                </th>
                <td>10-02-2025<br>08:46:00</td>
                <td>Mrs. DIVYA R / ISW-10086204 / 29 / FEMALE</td>
                <td></td>
                <td>Dr SENTHIL RAJ (REG.NO 88235)</td>
                <td>CARDIOLOGY</td>
                <td>CHECKED IN</td>
                <td></td>
            </tr>
        </tbody>
    </table>