<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-3 p-3 text-dark">
            <h4>Patient Registered</h4>
        </div>
        <div class="col-sm-3 p-3  text-dark">
        </div>
        <div class="col-sm-3 p-3  text-dark">
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-1 p-3 text-dark">
            <label class="p-2">Referral</label><br>
        </div>
        <div class="col-sm-3 p-3  text-dark">

            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <label class="p-2">
                From Date
            </label><br>
        </div>
        <div class="col-sm-3 p-3  text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
        <div class="col-sm-1 p-3  text-dark">
            <label class="p-2">
                To Date
</label><br>
        </div>
        <div class="col-sm-3 p-3 text-dark">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email" required>
        </div>
    </div>
</div>
<div>
    <!-- table, table-bordered -->
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">S.No</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Age/Sex</th>
                <th scope="col">MRN</th>
                <th scope="col">Visit Date</th>
                <th scope="col">Referral</th>
                <th scope="col">City</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mr. HARISH KUMAR</td>
                <td>25 /MALE</td>
                <td>ISW-10086195</td>
                <td>10-02-2025</td>
                <td>SELF</td>
                <td>Chennai</td>
                <td>Active</td>
            </tr>
        </tbody>
    </table>