.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.example-sidenav {
  width: 200px;
  transition: width 0.3s;
}

.mat-sidenav-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-wrapper {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px; /* Adjust this value to match the footer height */
}
.example-sidenav.collapsed {
  width: 60px;
}

.mat-sidenav-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  background: white;
}

.example-sidenav-content {
  padding: 20px;
}

.mat-sidenav-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px); /* Adjust based on your toolbar height */
}

.mat-sidenav {
  flex: 0 0 auto;
}

.mat-sidenav-content {
  flex: 1 1 auto;
}

#customIconSize {
  height: 18px;
}

.spacer {
  flex: 1 1 auto;
}

footer.footer {
  background-color: #f8f9fa;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 960px;
  margin: 0 auto;
}