.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-nav-list {
  width: 60px;
  overflow: hidden;
  transition: width 0.3s;

  h4 {
    opacity: 0;
  }
}

mat-drawer:hover {
  mat-nav-list {
    width: 180px;
    h4 {
      opacity: 1;
      margin: auto 10px;
      transition: all 0.1s ease-in 0.2s;
    }
  }
}

.dashboard-container {
  display: flex;
  height: 100vh; /* Full height of the viewport */
}

app-sidebar {
  flex: 0 0 70px; /* Initial width of the sidebar */
  transition: flex 0.3s; /* Smooth transition for width change */
}

app-sidebar.expanded {
  flex: 0 0 250px; /* Expanded width of the sidebar */
}

.main-content {
  flex: 1; /* Take the remaining space */
  padding: 20px;
  overflow-y: auto; /* Enable scrolling if content overflows */
}

.example-container {
  height: 100%;
}
mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
  margin-left: 70px !important;
  margin-top: 74px;

}
.mat-drawer-side {
  width: 60px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}