.example-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.example-sidenav {
  width: 200px;
  transition: width 0.3s;
}


.example-sidenav.collapsed {
  width: 60px;
}

.mat-sidenav-content {
  flex: 1;
  padding: 20px;
  transition: margin-left 0.3s;
  background: white;
}

.example-sidenav-content {
  padding: 20px;
}

.mat-sidenav-container {
  display: flex;
  flex: 1;
  height: calc(100vh - 64px); /* Adjust based on your toolbar height */
}

.mat-sidenav {
  flex: 0 0 auto;
  overflow: hidden;
}

.mat-sidenav-content {
  flex: 1 1 auto;
}

#customIconSize {
  height: 18px;
}

.spacer {
  flex: 1 1 auto;
}
.mat-drawer-inner-container {
  overflow-y: hidden;
}
