/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'poppins', sans-serif;
    font-size: 14px;

}

html, body { height: 100%;
  background-color: #f5f7fa;
}
body { margin: 0; font-family: po }
@import "~@fortawesome/fontawesome-free/css/all.css";
input {
  cursor: pointer;
}
select {
  cursor: pointer;
}
/* .mat-drawer-inner-container {
  overflow: hidden !important;
  background: linear-gradient(90deg, #66a4c4 0%, #257aa6 100%);

} */
input[type=date], input[type=datetime-local], input[type=month], input[type=time]  {
  text-transform: uppercase;
}

.form-select {
  border-radius: 20px;
  background: #e8f0fe !important;
  border: 1.5px solid #aaa;
}
input.form-control{
    padding: 11px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;
    background-color: transparent;
    font-family: 'poppins', sans-serif;
   cursor: pointer;
    height: 32px;
    background: #e8f0fe !important;
    border: 1.5px solid #aaa;
    border-radius: 12px;
    margin-bottom: 0px !important;
    border: 1.5px solid #aaa;
}

.font-size-14px {
    font-size: 14px;
}
input::file-selector-button {
    display: block;
  }

  .draftbutton {
    background: linear-gradient(270deg, #005687 0%, #1F94C6 100%);
    border-radius: 30px;
    width: auto;
    padding: 0 20px;
    height: 32px;
    margin: 0 2px;
    border: 0;
    color: #fff !important;
}
.margin-left-10px {
    margin-left: 10px;
}
.add-Icon-img {
    cursor: pointer;
}
/* Basic styling for the navigation bar */  
.navbar {  
    background-color: #333; /* Background color */  
    overflow: hidden; /* Clear floats */  
  }  
    
  /* Style for navigation bar links */  
  .navbar a {  
    float: left; /* Float the links to the left */  
    display: block; /* Display links as blocks */  
    color: white; /* text color */  
    text-align: center; /* Center-align the text */  
    padding: 14px 16px; /* Padding around the links */  
    text-decoration: none; /* Remove underline from links */  
  }  
    
  /* Change color on hover */  
  .navbar a:hover {  
    background-color: #ddd; /* Background color on hover */  
    color: black; /* Text color on hover */  
  }  

  .fa-calendar:before {
    content: "\f073";
}
.fa-chevron-down:before {
  content: "\f0d7";
  color: black;

}
#sidenav-fixed-container .mat-drawer-inner-container {
  background: linear-gradient(90deg, #66a4c4 0%, #257aa6 100%);
  overflow-y: scroll; /* Add the ability to scroll */
  width: 177px;

}
.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mat-drawer-inner-container {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}