<div class="nav-side">
    <nav class="sidebar">
        <ul class="side-bar-ul">
          <li *ngFor="let item of navigation_list" 
              class="menu-item" 
              [class.has-submenu]="item.subNav"
              (mouseenter)="openSubMenu(item)" 
              (mouseleave)="closeSubMenu()">
            
            <!-- Main menu item (icon only) -->
            <a *ngIf="!item.subNav">
              <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
            </a>
      
            <div *ngIf="item.subNav">
              <a>
                <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
              </a>
      
              <!-- Submenu (only visible on hover) -->
              <ul class="submenu" *ngIf="activeSubMenu === item">
                <li *ngFor="let sub of item.subNav">
                  <a [routerLink]="sub.route" (click)="closeSubMenu()">{{ sub.title }}</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
</div>
<!-- <router-outlet/> -->

  